body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #444444;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 80px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    flex:1



}

h1 {

    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #004c9c;
    padding: 20px;
    font-size: 35px;
}



form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 18px;
}

input[type="file"] {
    margin: 20px 0;
    width: calc(100% - 30px);
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;

}

#dpi {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;


}

button[type="submit"] {

    font-weight: bold;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #004c9c;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 20%;
   
}

.download-all-button {

    font-weight: bold;
    display: block;
    margin:  0 auto;
    padding: 10px 20px;
    background-color: #004c9c;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 95%;
    
}




button[type="submit"]:hover,
.download-all-button:hover {
    background-color: #0061bf;
}

.flashes {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

h2 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.flashes li {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;

}

.processed-images-select {
    margin: 10px 0;
    width: calc(100% - 30px);
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;

}

.processed-images a {
    display: block;
    padding: 10px;
    background-color: #ffffff;
    color: #333333;
    text-decoration: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.processed-images a:hover {
    background-color: #f9f9f9;
    border-color: #aaaaaa;
}

/* Estilos para o footer */
footer {
    text-align: center;
    padding: 4px 0;
    background-color: #000;
    color: white;
    border-radius: 0 0 5px 5px;
    width: 100%;
}

footer img {
    width: 100px;
    /* Tamanho da imagem do logo */
    margin-bottom: 2px;
}

footer p {
    margin: 0;
    font-size: 8px;
    padding-bottom: 4px;
}