<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DPI CONVERTER</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/images/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">


</head>
<body>
    <div class="container">
        <h1>DPI CONVERTER</h1>

        <!-- Mensagens flash para feedback do usuário -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <form action="/" method="post" enctype="multipart/form-data" id="upload-form">
            <div>
                <label for="file" id="label-1">Escolha as imagens (máx 100):</label>
                <input type="file" name="file" id="file" multiple required>
            </div>
            <div id="file-list"></div>
            <div>
                <label for="dpi" id="label-2">Novo DPI:</label>
                <input type="number" name="dpi" id="dpi" placeholder="300" required>
            </div>
            <div id="submit-button">
                <button type="submit" class="button-first">Aplicar DPI</button>
            </div>
        
           
        </form>

        {% if processed_images %}
            <h2>Imagens Processadas:</h2>
            <ul class="processed-images">
                {% for image_path in processed_images %}
                    <li><a href="{{ url_for('download_image', filename=image_path) }}">{{ image_path }}</a></li>
                {% endfor %}
            </ul>
            <a href="{{ url_for('download_all') }}" class="button download-all-button">Baixar todas as imagens processadas</a>
        {% endif %}

    </div>

    <!-- Rodapé -->
    <footer>
        <img src="../static/images/logo.png" alt="Logo da Sua Empresa" style="width: 60px;">
        <p>Soluções em Tecnologia</p>
    </footer>

    <!-- JavaScript externo -->
    <script src="../static/js/script.js"></script>
</body>
</html>
