<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DPI CONVERTER</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/images/icone.png" type="image/x-icon">

</head>
<body>
    <div class="container">
        <h1>DPI CONVERTER</h1>

        <!-- Mensagens flash para feedback do usuário -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <form action="/" method="post" enctype="multipart/form-data" id="upload-form">
            <div>
                <label for="file">Escolha as imagens (máx 100):</label>
                <input type="file" name="file" id="file" multiple required>
            </div>
            <div id="file-list"></div>
            <div>
                <label for="dpi">Novo DPI:</label>
                <input type="number" name="dpi" id="dpi" placeholder="300" required>
            </div>
            <div>
                <button type="submit">Aplicar DPI</button>
            </div>
        </form>

        {% if processed_images %}
            <h2>Imagens Processadas:</h2>
            <ul class="processed-images">
                {% for image_path in processed_images %}
                    <li><a href="{{ url_for('download_image', filename=image_path) }}">{{ image_path }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        <a href="{{ url_for('download_all') }}" class="button download-all-button">Baixar todas as imagens processadas</a>
    </div>

    <script>
        document.getElementById('file').addEventListener('change', function(event) {
            const fileList = document.getElementById('file-list');
            fileList.innerHTML = '';
            const files = event.target.files;
            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const listItem = document.createElement('div');
                listItem.textContent = file.name;
                fileList.appendChild(listItem);
            }
        });
    </script>
</body>
</html>
